<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/eeef6832-7a6a-46e8-a66d-f40c099a6826/resourceGroups/ospl-rac/providers/Microsoft.Web/sites/ospl-rac-vehiclelookup-svc</ResourceId>
    <ResourceGroup>ospl-rac</ResourceGroup>
    <ApiResourceId>/subscriptions/eeef6832-7a6a-46e8-a66d-f40c099a6826/resourceGroups/ospl-rac/providers/Microsoft.ApiManagement/service/ospl-rac-apim/apis/VehicleLookupAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ospl-rac-vehiclelookup-svc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2199fc09-6de5-4515-aa93-92a5e1268644</ProjectGuid>
    <MSDeployServiceURL>ospl-rac-vehiclelookup-svc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ospl-rac-vehiclelookup-svc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ospl-rac-vehiclelookup-svc</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>